.left {
	width: 34%;
	padding: 20px;
	float: left;
	background-color: $color--background;

	&__logo {
		width: 90%;
		margin: auto;
	}
	&__icon {
		display: inline-block;
		background-color: $color--dark-blue;
		color: white;
		border-radius: 12px;
		width: 25px;
		height: 25px;
		padding: 2px;
		text-align: center;
		margin-bottom: 3px;
	}
	&__chart {
		width: 90%;
		height: 20px;
		background-color: $color--gray;
		margin: 10px 0px;
	}
	&__chart--chart-in {
		width: 75%;
		height: 20px;
		background-color: $color--dark-blue;
	}
	&__chart--chart-in-1 {
		width: 45%;
		height: 20px;
		background-color: $color--dark-blue;
	}
}