@mixin mobile {
	@media (max-width: $tablet) {
		.left {
			width: 100%;
			margin: auto;
			padding: 2%;
			float: none;
		}
		.right {
			width: 100%;
			margin: auto;
			padding: 2%;
			padding-top: 30px;
		}
		.left__logo {
			width: 250px;
			margin: auto;
		}
	}
}
@include mobile;